#photo-banner {
    background-image: url('../images/history/home-and-village-bw.webp');
}

#title {
    position: absolute;
    width: 100%;
    font-family: 'Playfair Dispaly';
    font-size: 50px;
    margin: 0;
    text-align: center;
    bottom: 5%;
    color: white;
}

.icon {
    margin: auto;
    text-align: center;
    flex: 2;
    padding: 10px;
}

.icon img {
    -webkit-transition: opacity .5s linear 0.2s;
    transition: opacity .5s linear 0.2s;
}

.icon p {
    font-family: 'Playfair Display';
}

#thrities {
    height: auto;
    width: 100%;
}

#sixtiess {
    height: auto;
    width: 100%;
}

#nineties {
    height: 100%;
    width: auto;
}

#today {
    height: auto;
    width: 100%;
}

.description {
    margin: auto;
    flex: 3;
    padding: 10px;
}

.section {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}


.description h2 {
    font-family: 'Playfair Display';
    font-size: 30px;
    font-weight: normal;
}

.right .description h2 {
    text-align: left;
}

.left .description h2 {
    text-align: right;
}

.description p {
    text-align: justify;
    font-size: 22px;
    font-weight: 300;
}

.slideshow {
    position: relative;
    width: 100%;
    bottom: 20px;
    height: 80vh;
    margin-top: 20px;
    margin-bottom: 5px;
}

.slide {
    display: none;
    height: 95%;
    margin-bottom: 5px;
    background-color: rgba(66, 50, 30, .6);
}

.slide img {
    width: auto;
    height: 100%;
    object-fit: scale-down;
}

.thumbnail {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 47.5%;
    transform: translate(0, -50%);
    width: auto;
    padding: 16px;
    color: #dcd3c8;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    vertical-align: middle;
}

.slide-caption-container {
    text-align: center;
    padding: 4px 16px;
    border: 2px solid #42321e;
}

#slide-caption {
    color: #42321e;
    margin: auto;
    font-family: 'Playfair Display';
}

.thumbnails:after {
    content: "";
    display: table;
    clear: both;
}

.thumbnails {
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.thumbnail {
    flex: 1;
    margin: auto;
}

.preview {
    position: relative;
    opacity: 0.4;
}

@media (max-aspect-ratio: 3/4), (min-resolution: 200dpi) and (orientation: portrait){ 
    #photo-banner {
        background-image: url('../images/history/home-and-village-bw-mobile.webp');
    }
    .slideshow {
        height: 60vh;
    }
    p#slide-caption {
        font-size: 2vh;
    }
    #title {
        position: absolute;
        width: 100%;
        font-family: 'Playfair Dispaly';
        font-size: 50px;
        margin: 0;
        text-align: center;
        bottom: 5%;
        color: white;
    }
    #title {
        font-size: 75px;
    }
    .right .description h1 {
        text-align: center;
        font-size: 4vh;
    }
    .left .description h1 {
        text-align: center;
        font-size: 4vh;
    }
    .right {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .left {
        flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
    }
    .section .text {
        text-align: center;
    }
    .slideshow {
        width: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        position: relative;
        bottom: 20px;
    }
    .slide {
        display: none;
        height: 90%;
        margin-bottom: 5px;
    }
    .slide img {
        width: auto;
        height: 100%;
        object-fit: scale-down;
    }
    .slide-caption-container {
        text-align: center;
        padding: 2px 16px;
        border: 2px solid #42321e;
        height: auto;
    }
    .prev,
    .next {
        width: 3%;
        font-size: 30px;
        text-align: center;
        margin: auto;
    }
}

@media (min-resolution: 200dpi) and (orientation: landscape){ 
    .slideshow {
        height: 95vh;
    }
    p#slide-caption {
        font-size: 2vw;
    }
    #title {
        position: absolute;
        width: 100%;
        font-family: 'Playfair Dispaly';
        font-size: 50px;
        margin: 0;
        text-align: center;
        bottom: 5%;
        color: white;
    }
    #title {
        font-size: 75px;
    }
    .right .description h1 {
        text-align: center;
        font-size: 4vh;
    }
    .left .description h1 {
        text-align: center;
        font-size: 4vh;
    }
    .right {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .left {
        flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
    }
    .section .text {
        text-align: center;
    }
    .slideshow {
        width: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        position: relative;
        bottom: 20px;
    }
    .slide {
        display: none;
        height: 90%;
        margin-bottom: 5px;
    }
    .slide img {
        width: auto;
        height: 100%;
        object-fit: scale-down;
    }
    .slide-caption-container {
        text-align: center;
        padding: 2px 16px;
        border: 2px solid #42321e;
        height: auto;
    }
    .prev,
    .next {
        width: 3%;
        font-size: 30px;
        text-align: center;
        margin: auto;
    }
}
