#photo-banner {
    background-image: url('../images/homepage/home-and-fields.webp');
}

#logo {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 25%;
    max-width: 384px;
    min-width: 256px;
    transition: 0.5s;
}

.icon {
    margin: auto;
    flex: 2;
    padding: 10px;
}

.icon img {
    width: 100%;
}

.description {
    margin: auto;
    flex: 3;
    padding: 10px;
}

.section {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.text {
    font-family: 'Playfair Display';
    font-size: 30px;
    font-weight: normal;
}

.left .text {
    text-align: right;
}

.right .text {
    text-align: left;
}

.contacts .text {
    text-align: center;
}

#history, #products {
    width: 100%;
    height: 100%;
}

.redirect {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    width: 60%;
    margin: auto;
    text-decoration: none;
}

.contacts .redirect {
    width: 30%;
}

.redirect:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.redirect:visited {
    color: #000;
}

.redirect-text {
    text-align: center;
    font-size: 22px;
    margin: 0;
    color: #000;
}

@media (max-aspect-ratio: 3/4), (min-resolution: 200dpi) and (orientation: landscape){
    .right {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .left {
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .section .text {
        text-align: center;
    }
    .redirect {
        width: 90%;
    }
    .contacts .redirect {
        width: 90%;
    }
    .redirect-text {
        font-size: 2.5vw;
    }
}

@media (min-resolution: 200dpi) and (orientation: portrait){
    #photo-banner {
        background-image: url('../images/homepage/home-and-fields-mobile.webp');
    }
    #logo {
        width: 75%;
    }
    .right {
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .left {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .section .text {
        text-align: center;
    }
    .redirect {
        width: 90%;
    }
    .redirect-text {
        font-size: 2.5vh;
    }
    .contacts .redirect {
        width: 90%;
    }
}