#info {
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    gap: 20px;
    margin-top: 20px;
}

#info-logo-container {
    flex: 1;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

#info-logo {
    width: 100%;
    height: auto;
    max-width: 256px;
    margin: auto;
    display: block;
}

#legal-info {
    flex: 2;
    margin: auto;
    text-align: center;
}

#contact-info {
    flex: 2;
    margin: auto;
    text-align: center;
}

.social-icon {
    width: 30px;
    height: auto;
}

#dev-info {
    text-align: center;
    font-size: 14px;
}

@media (max-aspect-ratio: 3/4), (min-resolution: 200dpi) and (orientation: portrait) {
    #info {
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 95%;
    }
    #info-logo {
        width: 40%;
    }
    .social-icon {
        width: 5vh;
    }
    #dev-info p {
        font-size: 1.5vh;
        width: 95%;
    }
    #legal-info {
        width: 95%;
    }
    #legal-info p {
        font-size: 2.5vh;
        margin: 10px;
    }
    #contact-info {
        width: 95%;
    }
    #contact-info p {
        font-size: 2.5vh;
        margin: 10px;
    }
}

@media (min-resolution: 200dpi) and (orientation: landscape) {
    #info {
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 95%;
    }
    #info-logo {
        width: 40%;
    }
    .social-icon {
        width: 5vw;
    }
    #dev-info p {
        font-size: 1.5vw;
        width: 95%;
    }
    #legal-info {
        width: 95%;
    }
    #legal-info p {
        font-size: 2.5vw;
        margin: 10px;
    }
    #contact-info {
        width: 95%;
    }
    #contact-info p {
        font-size: 2.5vw;
        margin: 10px;
    }
}