#photo-banner {
    background-image: url('../images/products/all-products.webp');
}

#title {
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 35px;
    margin: 0;
    margin: 20px;
}

#content {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    gap: 20px;
}

#image {
    flex: 2;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

#photo {
    width: 100%;
    height: auto;
    margin: auto;
}

#description {
    margin: auto;
    flex: 3;
    font-size: 22px;
    text-align: justify;
}

@media (min-resolution: 300dpi) {
    #title {
        font-size: 75px;
    }
    #content {
        flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
    }
    .right .description h1 {
        text-align: center;
        font-size: 50px;
    }
    .left .description h1 {
        text-align: center;
        font-size: 50px;
    }
    .right {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .left {
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}

@media (min-resolution: 300dpi) and (orientation: portrait) {
    #photo-banner {
        background-image: url('../images/products/all-products-mobile.webp');
    }
}

@media (min-resolution: 300dpi) and (orientation: landscape) {
    #photo {
        width: 60%;
    }
}